body {
  background-color: black;
  color: blanchedalmond;
  text-align: center;
  overflow: visible;
}
.heading {
  font-size: 5rem;
  margin: 30px;
}
.time {
  font-size: 2.5rem;
  color: white;
  display: flex;
  justify-content: center;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  border: 1px solid blanchedalmond;
  background-color: black;
  color: blanchedalmond;
  font-family: monospace;
  font-size: medium;
  margin: 10px;
  height: 40px;
  width: 80px;
}
a {
  text-decoration: none;
  color: blanchedalmond;
  cursor: default;
}
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-table{
    height: fit-content;
    width: 500px;
    border: 2px solid blanchedalmond;
    font-family: monospace;
}